@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

/* - - - - - - - TOPBAR - - - - - - - - - */
.banner-container {
  overflow: hidden; 
  white-space: nowrap; 
  background-color: black;
  position: relative;
  width: 100%;
}

.moving-banner span {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 0.7em;
  animation: moveLeft 10s linear infinite; 
  margin-right: 20vh; 
}

/* - - - - - - - NAVBAR - - - - - - - - - */
nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}

nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 55px;
  width: auto;
  margin-right: 10px;
  margin-top: 10px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #f5f5f5;
}

/* hamburguer */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

/* menu bar */
.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 200000;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}


/* - - - - - - - CONTACT FORM - - - - - - - - - */

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(68, 68, 68, 0.8);
  }
  
section#contact {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  margin-top: 30px;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}

/* - - - - - - - FOOTER - - - - - - - - - */
/* Footer principal */
.main-footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #111;
  }
  
  .main-footer ul {
    list-style: none;
  }
  
  .main-footer h1 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .main-footer h2 {
    color: #ffffff;
    font-weight: 500;
  }
  
  .main-footer ul li a {
    color: #bbb;
    text-decoration: none;
  }
  
  .main-footer ul li a:hover {
    color: #6EB981;
  }
  
  footer {
    background-color: #111;
    border-top: 1px solid #444;
    font-size: 16px;
    padding: 15px;
    color: #ccc;
    text-align: center;
  }
  
  footer a {
    text-decoration: none;
    color: #6EB981;
  }
  
  .logoinfo p {
    color: #6EB981;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details img {
    max-width: 150px; 
    height: auto; 
    object-fit: contain;
    margin-bottom: 20px; 
    display: block; 
  }
  
  .contact-details li {
    list-style: none;
    margin: 10px 0;
  }
  
  .contact-details li a {
    text-decoration: none;
    color: #f1f1f1;
  }
  
  .contact-details .fa {
    color: #6EB981;
    margin-right: 10px;
  }
  
  .sociallogos {
    padding: 20px 0;
  }
  
  .sociallogos .logobox a {
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
  }
  
  .sociallogos .logobox a:hover {
    color: #6EB981;
  }
  
  .com ul li {
    padding: 5px 0;
  }
  
  
  @media screen and (max-width: 790px) {
    /* hamburger menu */
    .hamburger {
      display: block;
    }
    nav ul {
      display: none;
    }

    /* footer */
    .com, .info {
      margin: 20px 0;
      text-align: center; 
    }
  
    .info .sociallogos {
      flex-wrap: wrap; 
      gap: 10px;
    }
  
    .info .sociallogos .logobox a {
      font-size: 18px; 
    }
    .main-footer{
      display: flex;
      flex-direction: column;
    }
    .logoinfo{
      margin-left: 20px;
    }
    .com{
      display: none;
    }
    .contact-details{
      margin-left: 70px;
    }
  }
  
  
  @media (max-width: 480px) {
    /* footer */
    .com h1, .info h1 {
      font-size: 18px; 
    }
  
    .com ul li a {
      font-size: 14px;
    }
  
    .info .sociallogos .logobox a {
      font-size: 16px; 
    }
  
    .main-footer{
      display: flex;
      flex-direction: column;
    }
  
    .com{
      display: none;
    }
  }
  
  @keyframes moveLeft {
    /* top banner */
    0% {
        transform: translateX(100%); /* Empieza fuera pantalla a la derecha */
    }
    100% {
        transform: translateX(-100%); /* Se va de la pantalla en la izquierda */
    }
  }
  