@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* - - - - - - - TOPBAR - - - - - - - - - */
.banner-container {
  overflow: hidden; 
  white-space: nowrap; 
  background-color: black;
  position: relative;
  width: 100%;
}

.moving-banner span {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 0.7em;
  animation: moveLeft 10s linear infinite; 
  margin-right: 20vh; 
}

/* - - - - - - - NAVBAR - - - - - - - - - */
nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}

nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 55px;
  width: auto;
  margin-right: 10px;
  margin-top: 10px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #f5f5f5;
}

/* hamburguer */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

/* menu bar */
.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 200000;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}

/* - - - - - - - ABOUT US - - - - - - - - - */
/* Sección "About Us" */
.seccion-about-us {
  padding: 50px 20px;
  background-color: #fff;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; /* Para adaptarse en pantallas pequeñas */
}

.contenido-texto {
  flex: 1;
  min-width: 300px;
}

.contenido-texto h1 {
  font-size: 2.2em;
  color: rgb(40, 41, 41);
  margin-bottom: 20px;
}

.contenido-texto p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.boton-primario {
  display: inline-block;
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
  color: white;
}

.boton-primario:hover {
  background-color: #00bcd4;
}

/* Imagen */
.contenido-imagen {
  flex: 1;
  text-align: center;
  min-width: 300px;
}

.contenido-imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* - - - - - - - TESTIMONIALS - - - - - - - - - */
.seccion-testimonios {
  text-align: center;
  padding: 50px 20px;
}

.seccion-testimonios h1 {
  font-size: 1.8em;
  color: #00bcd4;
  margin-bottom: 20px;
}

.carrusel-testimonios {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
  margin: 0 auto;
  max-width: 1200px;
}

/* Tarjetas de Testimonio */
.tarjeta-testimonio {
  flex: 1 1 calc(33.333% - 40px); 
  max-width: 350px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.tarjeta-testimonio:hover {
  transform: scale(1.05);
}

.imagen-cliente {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #00bcd4;
}

.imagen-cliente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-testimonio {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.3em;
  margin: 10px 0 5px 0;
  color: #333;
}

.rol-cliente {
  font-size: 0.9em;
  color: gray;
}


/* - - - - - - - FOOTER - - - - - - - - - */
/* Footer principal */
.main-footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #111;
  }
  
  .main-footer ul {
    list-style: none;
  }
  
  .main-footer h1 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .main-footer h2 {
    color: #ffffff;
    font-weight: 500;
  }
  
  .main-footer ul li a {
    color: #bbb;
    text-decoration: none;
  }
  
  .main-footer ul li a:hover {
    color: #6EB981;
  }
  
  footer {
    background-color: #111;
    border-top: 1px solid #444;
    font-size: 16px;
    padding: 15px;
    color: #ccc;
    text-align: center;
  }
  
  footer a {
    text-decoration: none;
    color: #6EB981;
  }
  
  .logoinfo p {
    color: #6EB981;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details img {
    max-width: 150px; 
    height: auto; 
    object-fit: contain;
    margin-bottom: 20px; 
    display: block; 
  }
  
  .contact-details li {
    list-style: none;
    margin: 10px 0;
  }
  
  .contact-details li a {
    text-decoration: none;
    color: #f1f1f1;
  }
  
  .contact-details .fa {
    color: #6EB981;
    margin-right: 10px;
  }
  
  .sociallogos {
    padding: 20px 0;
  }
  
  .sociallogos .logobox a {
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
  }
  
  .sociallogos .logobox a:hover {
    color: #6EB981;
  }
  
  .com ul li {
    padding: 5px 0;
  }
  
  
  @media screen and (max-width: 790px) {
    /* hamburger menu */
    .hamburger {
      display: block;
    }
    nav ul {
      display: none;
    }

    /* footer */
    .com, .info {
      margin: 20px 0;
      text-align: center; 
    }
  
    .info .sociallogos {
      flex-wrap: wrap; 
      gap: 10px;
    }
  
    .info .sociallogos .logobox a {
      font-size: 18px; 
    }
    .main-footer{
      display: flex;
      flex-direction: column;
    }
    .logoinfo{
      margin-left: 20px;
    }
    .com{
      display: none;
    }
    .contact-details{
      margin-left: 70px;
    }
  }
  
  
  @media (max-width: 480px) {
    /* footer */
    .com h1, .info h1 {
      font-size: 18px; 
    }
  
    .com ul li a {
      font-size: 14px;
    }
  
    .info .sociallogos .logobox a {
      font-size: 16px; 
    }
  
    .main-footer{
      display: flex;
      flex-direction: column;
    }
  
    .com{
      display: none;
    }
  }
  
  @keyframes moveLeft {
    /* top banner */
    0% {
        transform: translateX(100%); /* Empieza fuera pantalla a la derecha */
    }
    100% {
        transform: translateX(-100%); /* Se va de la pantalla en la izquierda */
    }
  }
  